<h2>Create an Author</h2>


<% if @author.errors.any? %>
  <% @author.errors.full_messages.each do |msg| %>
  <p><%= msg %></p>
  <% end %>
<% end %>


<%= form_tag author_path, method: "post" do %>
  <div class="field">
    <%= label_tag "Name" %>
    <%= text_field_tag "Name", @author.name %>
  </div>

  <div class="field">
    <%= label_tag "Email" %>
    <%= text_field_tag "Email", @author.email %>
  </div>

  <div class="field">
    <%= label_tag "Phone Number" %>
    <%= text_field_tag "Phone Number", @author.phone_number %>
  </div>

  <%= submit_tag "Create" %>
<% end %>
